@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
	@apply container mx-auto max-w-screen-2xl  px-3 md:px-6 lg:px-10 2xl:px-16;
}
.header {
	background-image: url("../assets/grid.svg");
}

/* width */
html::-webkit-scrollbar {
	width: 8px;
}

/* Track */
html::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px transparent;
	border-radius: 10px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
	background: rgb(30 64 175);
	border-radius: 10px;
}
