@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
	@apply container mx-auto max-w-screen-2xl  p-3 md:px-6 lg:px-10 2xl:px-16;
}
.header {
	background-image: url("../assets/grid.svg");
	/* background-image: url("../assets/grid.svg"),linear-gradient(
		600deg,
		hsl(226deg 83% 18%) 0%,
		hsl(232deg 60% 14%) 18%,
		hsl(245deg 47% 9%) 26%,
		hsl(233deg 80% 2%) 33%,
		hsl(233deg 80% 1%) 39%,
		hsl(233deg 80% 1%) 44%,
		hsl(0deg 0% 0%) 50%,
		hsl(271deg 90% 6%) 56%,
		hsl(259deg 85% 11%) 61%,
		hsl(247deg 88% 16%) 67%,
		hsl(255deg 81% 12%) 74%,
		hsl(263deg 77% 7%) 82%,
		hsl(218deg 100% 2%) 100%
	); */
}


/* width */
html::-webkit-scrollbar {
	width: 8px;
}

/* Track */
html::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px transparent;
	border-radius: 10px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
	background: rgb(30 64 175);
	border-radius: 10px;
}
